* {
    font-family: 'Baloo Bhai', cursive;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgb(30, 27, 31);
}

#game-container p {
    font-weight: bold;
    font-size: 35px;
    color: white;
    width: 100%;
    text-align: center;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
}

#game-container {
    flex: 1;
    background: rgb(63, 9, 114);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#tutorial {
    flex: 1;
    background: rgb(36, 0, 48);
    color: white;
    padding: 5%;
    font-size: 1.1em;
}

.large-font {
    font-size: 2em;
}

#game-container table {
    border: 2px solid rgb(66, 66, 66);
    border-radius: 5px;
    border-spacing: 0px;
    padding: 0;
    position: static;
    background: white;
    background: linear-gradient(45deg, #d8d0da, #ffffff);
}

#game-container table td {
    padding: 6px;
}

.view {
    width: 300px;
    height: 200px;
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.view.dim {
    background-color: rgba(0, 0, 0, 0.9);
}

.view p {
    color: white;
    font-size: 2em;
}

.play-btn {
    border: none;
    background: transparent;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 4px;
    padding: 12px;
    outline: none;
}

.play-btn:hover {
    background: rgba(194, 194, 194, 0.2);
    cursor: pointer;
}

.back-cell {
    background-color: transparent;
}

.snake-cell {
    background-color: rgb(45, 141, 26);
    border: none;
}

.normal-point-goal-cell {
    background-color: #792094;
    border: none;
    border-radius: 10px;
    background-image: radial-gradient(circle at 2px 2px, #792094, #424242);
}

.death-goal-cell {
    background-color:black;
    border: none;
    border-radius: 10px;
    background-image: radial-gradient(circle at 2px 2px, #000, #b3b3b3);
}

.key-goal-cell {
    background-color: gold;
    border: none;
    border-radius: 10px;
    background-image: radial-gradient(circle at 2px 2px, #000, gold);
}

.increase-speed-goal-cell {
    background-color: #27cc06;
    border: none;
    border-radius: 10px;
    background-image: radial-gradient(circle at 2px 2px, #27cc06, #1d1c1c);
}

.decrease-speed-goal-cell {
    background-color: #50eed9;
    border: none;
    border-radius: 10px;
    background-image: radial-gradient(circle at 2px 2px, #50eed9, #1d1c1c);

}

.increase-ratio-goal-cell {
    background-color: #0d85e7;
    border: none;
    border-radius: 10px;
    background-image: radial-gradient(circle at 2px 2px, #0d85e7, #1d1c1c);
}

.decrease-ratio-goal-cell {
    background-color: #e7640d;
    border: none;
    border-radius: 10px;
    background-image: radial-gradient(circle at 2px 2px, #e7640d, #1d1c1c);
}

.minus-three-goal-cell {
    background-color: #cc0606;
    border: none;
    border-radius: 10px;
    background-image: radial-gradient(circle at 2px 2px, #cc0606, #1d1c1c);
}

.plus-three-goal-cell {
    background-color: #cc06cc;
    border: none;
    border-radius: 10px;
    background-image: radial-gradient(circle at 2px 2px, #cc06cc, #1d1c1c);

}

.hidden-cell {
    background-color: rgb(56, 56, 56);
}

#score-value {
    font-size: 25px;
    margin-bottom: 10%;
}

@media screen and (max-width: 800px) {
    html, body {
        overflow-y: auto;
    }

    main {
        flex-direction: column;
    }

    #game-container table td {
        padding: 4px;
    }

    .view {
        top: -35%;
        position: relative;
    }
}