* {
    font-family: 'Baloo Bhai', cursive;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgb(236, 128, 26);
}

canvas {
    background-image: url('../res/img/grid.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#game-container p {
    font-weight: bold;
    font-size: 35px;
    color: white;
    width: 100%;
    text-align: center;
}

header p {
    font-size: 2em;
    color: white;
    text-align: center;
}

#help-button {
    background: none;
    outline: none;
    border: none;

    border-radius: 50%;
    background: rgb(114, 43, 43);

    transition: background 500ms;
}

#help-button img {
    width: 20px;
    height: 20px;
    padding-top: 4px;
}

#help-button:hover {
    background: rgb(148, 23, 23);
    cursor: pointer;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
}

#tutorial p, #tutorial ul li{
    text-align: left;
}

#tutorial ul {
    margin: 20px;
    margin-top: 0;
}

#tutorial p {
    margin-top: 10px;
    margin-bottom: 10px;
}

#game-container {
    width: 100%;
    height: 100%;
    
    background: rgb(236, 128, 26);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#game-container table {
    border-spacing: 1px;
    padding: 0;
    position: static;
    background: white;
    background: linear-gradient(45deg, #d8d0da, #ffffff);
}

#game-container table td {
    padding: 6px;
}

.view {
    width: 300px;
    height: 200px;
    position: absolute;

    top: 40%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.view.dim {
    background-color: rgba(0, 0, 0, 0.9);
}

.play-btn {
    border: none;
    background: transparent;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 4px;
    padding: 12px;
    outline: none;
}

.play-btn:hover {
    background: rgba(194, 194, 194, 0.2);
    cursor: pointer;
}

.back-cell {
    background-color: transparent;
}

.snake-cell {
    background-color: #2d8d1a;
    border: none;
    border-radius: 1px;
}

.normal-point-goal-cell {
    background-color: #792094;
    border: none;
    border-radius: 10px;
    background-image: radial-gradient(circle at 2px 2px, #b739dd, #000);
}

.death-goal-cell {
    background-color:black;
    border: none;
    border-radius: 10px;
    background-image: radial-gradient(circle at 2px 2px, #000, #b3b3b3);
}

.key-goal-cell {
    background-color: gold;
    border: none;
    border-radius: 10px;
    background-image: radial-gradient(circle at 2px 2px, gold, #000);
}

.increase-speed-goal-cell {
    background-color: #27cc06;
    border: none;
    border-radius: 10px;
    background-image: radial-gradient(circle at 2px 2px, #27cc06, #1d1c1c);
}

.decrease-speed-goal-cell {
    background-color: #50eed9;
    border: none;
    border-radius: 10px;
    background-image: radial-gradient(circle at 2px 2px, #50eed9, #1d1c1c);

}

.increase-ratio-goal-cell {
    background-color: #0d85e7;
    border: none;
    border-radius: 10px;
    background-image: radial-gradient(circle at 2px 2px, #0d85e7, #1d1c1c);
}

.decrease-ratio-goal-cell {
    background-color: #e7640d;
    border: none;
    border-radius: 10px;
    background-image: radial-gradient(circle at 2px 2px, #e7640d, #1d1c1c);
}

.minus-three-goal-cell {
    background-color: #cc0606;
    border: none;
    border-radius: 10px;
    background-image: radial-gradient(circle at 2px 2px, #cc0606, #1d1c1c);
}

.plus-three-goal-cell {
    background-color: #cc06cc;
    border: none;
    border-radius: 10px;
    background-image: radial-gradient(circle at 2px 2px, #cc06cc, #1d1c1c);

}

.hidden-cell {
    background-color: rgb(56, 56, 56);
}

#score-value {
    font-size: 25px;
    margin-bottom: 10%;
}

.large-font {
    font-size: 2em;
}

.mid-font {
    font-size: 1.5em;
}

.center {
    text-align: center !important;
}
@media screen and (max-width: 800px) {
    html, body {
        overflow-y: auto;
    }

    main {
        flex-direction: column;
    }

    #game-container table td {
        padding: 4px;
    }

    .view {
        top: -35%;
        position: relative;
    }

    #tutorial {
        overflow-y: unset;
    }
}